.container {
	margin-bottom: 2em;
	display: flex;
	padding: 0 0 1em 0;
	border-bottom: 1px solid #EEE;
}

.cover {
	flex: 0 0 50px;
	margin-right: 1em;
}

.user {
	font-size: 0.75em;
	text-tranform: uppercase;
	margin-bottom: 0.4em;
}

.meta {
	display: flex;
}

.title {
	font-size: 1.15em;
	font-weight: 500;
	line-height: 1.4;
}

.play {
	flex: 0 0 2em;
	height: 2em;
	background: #F50;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
	margin-right: 1em;
	font-size: 0.9em;
}

.play i {
	position: relative;
	top: 1px;
}

.waveform {
	display: none;
	position: relative;
	flex: 100%;
	overflow: hidden;
	margin-top: 0.5em;
	width: 75vw;
	height: 50px;
	overflow: hidden;
}

@media (min-width: 45em) {
	.cover {
		flex-basis: 50px;
	}

	.waveform {
		display: block;
	}
}
