.container {}

.wrapper {
	display: flex;
	align-items: center;
	height: 100%;
	padding: 0 2em;
}

.play,
.next,
.previous {
	outline: 0;
	border: 0;
	background: none;
	font-size: 1em;
	color: #333;
	cursor: pointer;
}

.play:hover
.play:focus,
.next:hover,
.next:focus,
.previous:hover,
.previous:focus {
	color: #000;
}

.next[disabled],
.previous[disabled] {
	opacity: 0.5;
}

.track {
	display: flex;
}

.track_meta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-size: 0.8em;
	margin-right: 4rem;
}

.cover {
	margin-right: 0.5em;
	display: flex;
	align-items: center;
}

.cover img {
	height: 30px;
	border-radius: 50%;
}

.artist {
	margin-bottom: 0.25em;
	opacity: 0.75;
}
