.refresh {

}

.refresh :global(.ptr-element) {
	text-align: center;
}

.refresh_info,
.refresh_loading {
	font-size: 1em;
	padding: 1em;
	display: none;
	margin-bottom: 1em;
}

:global(body.ptr-refresh) .refresh_info {
	display: block;
}

:global(body.ptr-loading) .refresh_info {
	display: none;
}

:global(body.ptr-loading) .refresh_loading {
	display: block;
}

.loading {
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	font-size: 2em;
	color: #F50;
}
